body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./mario_background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "mario64";
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  height: 30vh;
  max-width: 800px;
  width: 100%;
}

header h1 {
  font-size: 2.5em;
}

.sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.sub-header button {
  height: 50px;
  width: 80px;
  font-family: "mario64";
  font-weight: bold;
  font-size: 1em;
  background-color: rgba(97%, 83%, 0%, 1);
  border: 1px solid black;
}

#stopgame {
  display: none;
}

.game-container {
  padding: 20px 0px;
  background: green;
  max-width: 800px;
  width: 100%;
  height: 60vh;
}

.row {
  display: flex;
  justify-content: center;
}

.hole {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  margin: 20px;
  overflow: hidden;
}

.mole {
  position: absolute;
  z-index: 1;
  height: 80px;
  width: 100px;
  background-image: url(mole1.png);
  background-size: cover;
  background-position: center;
  top: 100%;
  transition: all 0.4s;
  cursor: pointer;
}

.hole.up .mole {
  top: 0%;
}

@font-face {
  font-family: "mario64";
  src: url("./SuperMarioBros-ov7d.ttf");
}
